ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    background-color: #F9EA8B;
    opacity: 1;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #123F77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #123F77;
    color: #F9EA8B;
  }
  
  .active {
    background-color: #1458ac;
    color: #F9EA8B;
  }

body,h1 {
    font-family: "Raleway", sans-serif
}
body, html {
    height: 100%;
    background-color: #123F77;
}
.footer-distributed {
  background-color: #F9EA8B;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #123F77;
  font-size: 18px;
  margin: 0;
}
.footer-distributed h1{
  font-size: 24px;
  font-weight: bold;
  color: #123F77;
  background-color: #F9EA8B;

}


.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
  background-color: #F9EA8B;

}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #123F77;
  border-radius: 2px;
  font-size: 25px;
  color: #F9EA8B;
  text-align: center;
  line-height: 40px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{
  transform:scale(1.1); -webkit-transform:scale(1.1);
}

.carousel,.item,.active{
  height:100%;
}
.carousel-inner{
  height:100%;
}

.carousel {
  height: 100vh;
  width: 100%;
  overflow:hidden;
}
.carousel .carousel-inner img {
  display:block;
  object-fit: cover;
}

.pic{
  height: 100%;
  width: 100%;
}
.nothing{
    color: #000000;
    color: #123F77;
    color: #1458ac;
    color: #F9EA8B;
    color: #FBEFCB;
}